.variant-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.variant-wrapper.variant-eleven {
  height: 80px;
  width: 80px;
}

.variant-wrapper.variant-nine {
  height: 80px;
  width: 80px;
}

.variant-wrapper.variant-six {
  height: 18px;
  width: 18px;
}

.variant-wrapper.variant-thirty-three {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-six {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-seven {
  height: 18px;
  width: 18px;
}

.variant-wrapper.variant-thirty-two {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-seven {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twelve {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-eight {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-thirteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-fifteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-fourteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-sixteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-three {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-five {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-seventeen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-ten {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-thirty-one {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-four {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-nineteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-thirty-five {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-thirty {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-one {
  height: 64px;
  width: 64px;
}

.variant-wrapper.variant-eighteen {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-four {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-eight {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-three {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-thirty-four {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-five {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-two {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-one {
  height: 16px;
  width: 16px;
}

.variant-wrapper.variant-two {
  height: 24px;
  width: 24px;
}

.variant-wrapper.variant-twenty-nine {
  height: 24px;
  width: 24px;
}
