.screen-6 {
  height: 762px;
  position: relative;
  width: 450px;
}

.screen-6 .component-18 {
  background-color: #f5f5f5b2;
  border: 0.5px dashed;
  border-color: #000000;
  border-radius: 5px;
  height: 732px;
  left: 120px;
  position: absolute;
  top: 30px;
  width: 330px;
}

.screen-6 .variant-hover-true-11 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 30px !important;
}

.screen-6 .component-19 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.screen-6 .variant-hover-18 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 30px !important;
}

.screen-6 .variant-hover-true-12 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 108px !important;
}

.screen-6 .variant-hover-19 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 108px !important;
}

.screen-6 .variant-hover-20 {
  left: 30px !important;
  position: absolute !important;
  top: 186px !important;
}

.screen-6 .component-20 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.screen-6 .variant-hover-21 {
  left: 30px !important;
  position: absolute !important;
  top: 264px !important;
}

.screen-6 .variant-hover-true-13 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 342px !important;
}

.screen-6 .variant-hover-22 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 342px !important;
}

.screen-6 .variant-hover-true-14 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 420px !important;
}

.screen-6 .variant-hover-23 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 420px !important;
}

.screen-6 .variant-hover-24 {
  left: 30px !important;
  position: absolute !important;
  top: 498px !important;
}

.screen-6 .variant-hover-true-15 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 576px !important;
}

.screen-6 .variant-hover-25 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 576px !important;
}

.screen-6 .variant-hover-true-16 {
  border-color: unset !important;
  left: 180px !important;
  position: absolute !important;
  top: 654px !important;
}

.screen-6 .variant-hover-26 {
  border-color: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 654px !important;
}

.screen-6 .x-axis-legend-5 {
  height: 30px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 330px;
}

.screen-6 .text-wrapper-39 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.screen-6 .text-wrapper-40 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.screen-6 .y-axis-legend-4 {
  height: 732px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 120px;
}

.screen-6 .variant-65 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 38px;
}

.screen-6 .text-wrapper-41 {
  color: #00000080;
}

.screen-6 .text-wrapper-42 {
  color: #000000;
}

.screen-6 .variant-66 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 116px;
}

.screen-6 .variant-67 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 194px;
}

.screen-6 .variant-68 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 272px;
}

.screen-6 .variant-69 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 350px;
}

.screen-6 .variant-70 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 428px;
}

.screen-6 .variant-71 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 506px;
}

.screen-6 .variant-72 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 584px;
}

.screen-6 .variant-73 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 662px;
}
