.component {
  position: relative;
}

.component .component-1-18 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.component.hover-true {
  background-color: #0000000d;
}

.component.four {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 48px;
  padding: 8px;
  width: 48px;
}

.component.three {
  align-items: center;
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.component.five {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.component.two {
  align-items: center;
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.component.one {
  align-items: center;
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}
