.component-wrapper {
  height: 720px;
  position: relative;
  width: 450px;
}

.component-wrapper .component-11 {
  background-color: #f5f5f5b2;
  border: 0.5px dashed;
  border-color: #000000;
  border-radius: 5px;
  height: 690px;
  left: 120px;
  position: absolute;
  top: 30px;
  width: 330px;
}

.component-wrapper .variant-hover-true {
  left: 180px !important;
  position: absolute !important;
  top: 30px !important;
}

.component-wrapper .component-12 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.component-wrapper .variant-hover {
  left: 30px !important;
  position: absolute !important;
  top: 30px !important;
}

.component-wrapper .component-2-instance {
  left: 180px !important;
  position: absolute !important;
  top: 140px !important;
}

.component-wrapper .variant-hover-2 {
  left: 30px !important;
  position: absolute !important;
  top: 140px !important;
}

.component-wrapper .variant-hover-true-2 {
  left: 180px !important;
  position: absolute !important;
  top: 250px !important;
}

.component-wrapper .variant-hover-3 {
  left: 30px !important;
  position: absolute !important;
  top: 250px !important;
}

.component-wrapper .variant-hover-4 {
  left: 30px !important;
  position: absolute !important;
  top: 360px !important;
}

.component-wrapper .component-13 {
  height: 80px !important;
  position: relative !important;
  width: 80px !important;
}

.component-wrapper .variant-hover-5 {
  left: 30px !important;
  position: absolute !important;
  top: 470px !important;
}

.component-wrapper .variant-hover-6 {
  left: 30px !important;
  position: absolute !important;
  top: 580px !important;
}

.component-wrapper .component-1-79-instance {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.component-wrapper .x-axis-legend {
  height: 30px;
  left: 120px;
  position: absolute;
  top: 0;
  width: 330px;
}

.component-wrapper .text-wrapper-27 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.component-wrapper .text-wrapper-28 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.component-wrapper .y-axis-legend-2 {
  height: 690px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 120px;
}

.component-wrapper .variant-50 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
}

.component-wrapper .text-wrapper-29 {
  color: #00000080;
}

.component-wrapper .text-wrapper-30 {
  color: #000000;
}

.component-wrapper .variant-51 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 164px;
}

.component-wrapper .variant-52 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 274px;
}

.component-wrapper .variant-53 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 384px;
}

.component-wrapper .variant-54 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 494px;
}

.component-wrapper .variant-55 {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 604px;
}
