.component {
  align-items: center;
  background-color: #000000;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  max-width: 441.59px;
  padding: 1px 21px;
  position: relative;
  width: 442px;
}

.component .container {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.component .text {
  color: #ffffff;
  font-family: var(--www-on-com-on-medium-font-family);
  font-size: var(--www-on-com-on-medium-font-size);
  font-style: var(--www-on-com-on-medium-font-style);
  font-weight: var(--www-on-com-on-medium-font-weight);
  letter-spacing: var(--www-on-com-on-medium-letter-spacing);
  line-height: var(--www-on-com-on-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.component:hover {
  background-color: #333333;
  border-color: #333333;
}
