.element-default {
  background-color: #ffffff;
  height: 18347px;
  width: 2370px;
}

.element-default .overlap {
  height: 18347px;
  position: relative;
}

.element-default .container-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2370px;
}

.element-default .img {
  height: 64px;
  left: 64px;
  position: absolute;
  top: 12px;
  width: 64px;
}

.element-default .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  left: 1524px;
  max-width: 846px;
  position: absolute;
  top: 0;
  width: 846px;
}

.element-default .container-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 90px;
  justify-content: center;
  padding: 0px 79.55px;
  position: relative;
}

.element-default .container-4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 82.01px;
  justify-content: flex-end;
  position: relative;
}

.element-default .div-wrapper-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-default .nav-navigation {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.element-default .img-wrapper {
  align-items: center;
  border-radius: 24px;
  display: flex;
  height: 47.99px;
  justify-content: center;
  position: relative;
  width: 47.99px;
}

.element-default .component-17 {
  height: 23.98px;
  position: relative;
  width: 23.98px;
}

.element-default .nav-primary {
  align-items: center;
  display: inline-flex;
  left: 40px;
  position: absolute;
  top: 31px;
}

.element-default .item-margin {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.element-default .text-4 {
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .section-main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1197.5px;
  padding: 120px 0px 0px;
  position: absolute;
  top: 0;
  width: 2370px;
}

.element-default .container-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 96px;
  position: relative;
  width: 100%;
}

.element-default .container-6 {
  align-self: stretch;
  height: 16183.44px;
  position: relative;
  width: 100%;
}

.element-default .nav-breadcrumbs {
  align-items: flex-start;
  display: flex;
  left: 72px;
  padding: 7.99px 8px 8.53px;
  position: absolute;
  top: 0;
  width: 2227px;
}

.element-default .item {
  height: 17.5px;
  position: relative;
  width: 76.31px;
}

.element-default .background-border {
  background-color: #000000;
  border-radius: 4px;
  border-right-style: solid;
  border-right-width: 1.25px;
  border-top-style: solid;
  border-top-width: 1.25px;
  height: 4px;
  left: 56px;
  position: absolute;
  top: 6px;
  width: 4px;
}

.element-default .component-18 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  position: absolute;
  top: 0;
}

.element-default .text-5 {
  color: #000000;
  font-family: "On Mono-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.68px;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-default .section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 80px;
  padding: 0px 0px 1.05px;
  position: absolute;
  top: 41px;
  width: 2211px;
}

.element-default .heading-men-s {
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 68px;
  font-weight: 700;
  letter-spacing: -1.36px;
  line-height: 74.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .nav {
  height: 89px;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 124px;
  width: 2370px;
}

.element-default .nav::-webkit-scrollbar {
  display: none;
  width: 0;
}

.element-default .container-7 {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 276px;
  padding: 0px 16px;
  position: absolute;
  top: 20px;
}

.element-default .component-19 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1.25px;
  border-color: transparent;
  border-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 0%)
    1;
  border-top-style: solid;
  border-top-width: 1.25px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 40px;
  padding: 11.49px 0px 12.51px;
  position: relative;
}

.element-default .text-6 {
  color: #000000;
  font-family: "On-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.25px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .link-headwear-wrapper {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 350px;
  padding: 11.49px 16px 12.51px;
  position: absolute;
  top: 20px;
}

.element-default .text-wrapper-13 {
  color: #4d4d4d;
  font-family: "On-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .link-socks-wrapper {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 480px;
  padding: 11.49px 16px 12.51px;
  position: absolute;
  top: 20px;
}

.element-default .link-wrapper {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 580px;
  padding: 0px 16px;
  position: absolute;
  top: 20px;
}

.element-default .link {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  height: 40px;
  justify-content: center;
  padding: 11.49px 0px 12.51px;
  position: relative;
}

.element-default .text-wrapper-14 {
  color: #4d4d4d;
  font-family: "On-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element-default .container-8 {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 685px;
  padding: 0px 16px;
  position: absolute;
  top: 20px;
}

.element-default .container-9 {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 780px;
  padding: 0px 16px;
  position: absolute;
  top: 20px;
}

.element-default .container-10 {
  align-items: center;
  display: inline-flex;
  height: 40px;
  left: 872px;
  padding: 0px 16px;
  position: absolute;
  top: 20px;
}

.element-default .container-11 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 80px;
  padding: 0px 0px 0px 16px;
  position: absolute;
  top: 16px;
}

.element-default .button {
  all: unset;
  align-items: center;
  border-radius: 40px;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  left: 0;
  max-width: 100px;
  min-width: 80px;
  position: absolute;
  top: 0;
}

.element-default .background-border-2 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e5e5e5;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.98px;
  height: 47.99px;
  justify-content: center;
  min-width: 80px;
  padding: 1.25px 17.25px 1.25px 25.25px;
  position: relative;
}

.element-default .container-12 {
  height: 21.6px;
  overflow: hidden;
  position: relative;
  width: 19.22px;
}

.element-default .text-wrapper-15 {
  color: #000000;
  font-family: "On-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: 20px;
}

.element-default .component-20 {
  height: 16px;
  position: relative;
  width: 16px;
}

.element-default .background-border-wrapper {
  align-items: center;
  border-radius: 40px;
  display: inline-flex;
  height: 47.99px;
  justify-content: center;
  min-width: 80px;
  position: relative;
}

.element-default .background-border-3 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7.99px;
  height: 47.99px;
  justify-content: center;
  min-width: 80px;
  padding: 1.25px 17.25px 1.25px 25.25px;
  position: relative;
}

.element-default .container-13 {
  height: 21.6px;
  overflow: hidden;
  position: relative;
  width: 89.75px;
}

.element-default .text-wrapper-16 {
  color: #000000;
  font-family: "On-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0.16px;
  line-height: 21.6px;
  position: absolute;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: 90px;
}

.element-default .container-14 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 23.99px;
  left: 80px;
  position: absolute;
  top: 213px;
  width: 2211px;
}

.element-default .margin {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -79.51px;
  position: relative;
  width: 2290.45px;
  z-index: 1;
}

.element-default .background {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-right: -79.55px;
  padding: 24px 79.53px 16px;
  position: relative;
  width: 2370px;
}

.element-default .container-15 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
}

.element-default .component-21 {
  align-items: center;
  border: 1px solid;
  border-color: #000000;
  border-radius: 40px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 47.99px;
  justify-content: center;
  max-width: 181.58px;
  padding: 1.25px 25.25px 1.25px 17.25px;
  position: relative;
}

.element-default .SVG-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -0.44px;
  max-width: 189.58px;
  padding: 0px 8px 0px 0px;
  position: relative;
  width: 31.98px;
}

.element-default .SVG-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 181.58px;
  position: relative;
  width: 23.98px;
}

.element-default .component-22 {
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 23.98px;
}

.element-default .container-16 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -0.01px;
  margin-right: -0.44px;
  position: relative;
}

.element-default .text-7 {
  color: #000000;
  font-family: var(--www-on-com-on-medium-font-family);
  font-size: var(--www-on-com-on-medium-font-size);
  font-style: var(--www-on-com-on-medium-font-style);
  font-weight: var(--www-on-com-on-medium-font-weight);
  letter-spacing: var(--www-on-com-on-medium-letter-spacing);
  line-height: var(--www-on-com-on-medium-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element-default .region-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.element-default .element-results {
  color: #000000;
  font-family: "On Mono-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .section-list {
  height: 15858.67px;
  position: relative;
  width: 2202.95px;
  z-index: 0;
}

.element-default .item-article {
  height: 889px;
  left: 0;
  position: absolute;
  top: 0;
  width: 732px;
}

.element-default .div-3 {
  height: 101px;
  left: 0;
  position: absolute;
  top: 788px;
  width: 732px;
}

.element-default .container-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  padding: 0px 0px 0.73px;
  position: absolute;
  top: 11px;
  width: 716px;
}

.element-default .text-wrapper-17 {
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .container-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  padding: 0px 0px 0.73px;
  position: absolute;
  top: 39px;
  width: 716px;
}

.element-default .text-wrapper-18 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .container-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  position: absolute;
  top: 68px;
  width: 716px;
}

.element-default .text-wrapper-19 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .overlap-group {
  height: 732px;
  left: 0;
  position: absolute;
  top: 0;
  width: 732px;
}

.element-default .container-wrapper-2 {
  background: radial-gradient(
    50% 50% at 53% 63%,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 247, 248, 1) 45%,
    rgba(236, 238, 240, 1) 100%
  );
  height: 732px;
  left: 0;
  position: absolute;
  top: 0;
  width: 732px;
}

.element-default .container-20 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 732px;
}

.element-default .container-21 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.element-default .picture-on-core {
  background-image: url(../../../static/img/picture-on-core-glove-black-unisex-unisex-cold-weather-road.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .container-22 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  left: 684px;
  position: absolute;
  top: 8px;
  width: 40px;
}

.element-default .component-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 8.01px;
  position: relative;
  width: 40px;
}

.element-default .container-23 {
  height: 48px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 736px;
  width: 732px;
}

.element-default .item-article-2 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 0;
  width: 732px;
}

.element-default .picture-on-core-neck {
  background-image: url(../../../static/img/picture-on-core-neck-gaiter-black-unisex-unisex-cold-weather.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .component-24 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 8.01px 8.02px 8.01px 8px;
  position: relative;
  width: 40px;
}

.element-default .item-article-3 {
  height: 889px;
  left: 1471px;
  position: absolute;
  top: 0;
  width: 732px;
}

.element-default .picture-on-studio {
  background-image: url(../../../static/img/picture-on-studio-beanie-black-unisex-unisex-cold-weather-a.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-4 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 921px;
  width: 732px;
}

.element-default .div-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3.5px;
  left: 0;
  padding: 12px 4px 12px 12px;
  position: absolute;
  top: 788px;
  width: 732px;
}

.element-default .text-wrapper-20 {
  color: #995c00;
  font-family: var(--www-on-com-semantic-link-upper-font-family);
  font-size: var(--www-on-com-semantic-link-upper-font-size);
  font-style: var(--www-on-com-semantic-link-upper-font-style);
  font-weight: var(--www-on-com-semantic-link-upper-font-weight);
  letter-spacing: var(--www-on-com-semantic-link-upper-letter-spacing);
  line-height: var(--www-on-com-semantic-link-upper-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .container-24 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.73px;
  position: relative;
  width: 100%;
}

.element-default .text-wrapper-21 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.element-default .text-wrapper-22 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
}

.element-default .div-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-default .text-wrapper-23 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
}

.element-default .picture-on-trail-hat {
  background-image: url(../../../static/img/picture-on-trail-hat-black-unisex-unisex-trekking-hiking-l.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-5 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 921px;
  width: 732px;
}

.element-default .picture-on {
  background-image: url(../../../static/img/picture-on-performance-arm-sleeves-white-unisex-unisex-every.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-6 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 921px;
  width: 732px;
}

.element-default .picture-on-merino {
  background-image: url(../../../static/img/picture-on-merino-beanie-grey-unisex-unisex-cold-weather-so.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-7 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 1863px;
  width: 732px;
}

.element-default .picture-on-winter {
  background-image: url(../../../static/img/picture-on-winter-run-glove-black-unisex-unisex-running-col.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-8 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 1863px;
  width: 732px;
}

.element-default .picture-on-all-day {
  background-image: url(../../../static/img/picture-8d657d50649c22b8085ae799d94129cc0c807301-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-9 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 1863px;
  width: 732px;
}

.element-default .picture-on-sling {
  background-image: url(../../../static/img/picture-on-sling-pack-9l-black-unisex-unisex-road-running-o.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-10 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 2806px;
  width: 732px;
}

.element-default .picture-on-ultra {
  background-image: url(../../../static/img/picture-on-ultra-vest-pro-black-unisex-unisex-trail-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-11 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 2806px;
  width: 732px;
}

.element-default .picture-on-trail {
  background-image: url(../../../static/img/picture-on-trail-pack-20l-black-unisex-unisex-trail-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-12 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 2806px;
  width: 732px;
}

.element-default .picture-on-2 {
  background-image: url(../../../static/img/picture-on-lightweight-cap-black-unisex-unisex-road-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-13 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 3748px;
  width: 732px;
}

.element-default .picture-on-track {
  background-image: url(../../../static/img/picture-on-track-pack-35l-lite-beige-unisex-unisex-lightweig.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-14 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 3748px;
  width: 732px;
}

.element-default .picture-on-elite-run {
  background-image: url(../../../static/img/picture-on-elite-run-sock-high-black-grey-unisex-unisex-raci.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-15 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 3748px;
  width: 732px;
}

.element-default .picture-on-solar-cap {
  background-image: url(../../../static/img/picture-on-solar-cap-white-unisex-unisex-performance-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-16 {
  height: 889px;
  left: 0;
  position: absolute;
  top: 4691px;
  width: 732px;
}

.element-default .picture-on-logo-sock {
  background-image: url(../../../static/img/picture-on-logo-sock-mid-3p-white-unisex-unisex-all-day-bre.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-17 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 4691px;
  width: 732px;
}

.element-default .picture-on-logo-sock-2 {
  background-image: url(../../../static/img/picture-on-logo-sock-high-3p-black-unisex-unisex-all-day-br.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-18 {
  height: 889px;
  left: 1471px;
  position: absolute;
  top: 4691px;
  width: 732px;
}

.element-default .picture-on-core-run {
  background-image: url(../../../static/img/picture-on-core-run-sock-mid-2p-grey-unisex-unisex-everyday.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-19 {
  height: 889px;
  left: 0;
  position: absolute;
  top: 5611px;
  width: 732px;
}

.element-default .picture-on-3 {
  background-image: url(../../../static/img/picture-on-performance-run-sock-high-white-unisex-unisex-per.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-20 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 5611px;
  width: 732px;
}

.element-default .picture-on-court {
  background-image: url(../../../static/img/picture-on-court-sock-mid-pink-unisex-unisex-performance-ten.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-21 {
  height: 889px;
  left: 1471px;
  position: absolute;
  top: 5611px;
  width: 732px;
}

.element-default .picture-on-core-run-2 {
  background-image: url(../../../static/img/picture-on-core-run-sock-low-2p-grey-unisex-unisex-everyday.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-22 {
  height: 889px;
  left: 0;
  position: absolute;
  top: 6532px;
  width: 732px;
}

.element-default .picture-on-4 {
  background-image: url(../../../static/img/picture-on-performance-run-sock-low-white-unisex-unisex-perf.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .component-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 8px 8.01px 8.02px;
  position: relative;
  width: 40px;
}

.element-default .item-article-23 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 6532px;
  width: 732px;
}

.element-default .picture-on-5 {
  background-image: url(../../../static/img/picture-on-performance-run-sock-mid-white-unisex-unisex-perf.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .component-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 40px;
  padding: 8px 8.02px 8.02px 8px;
  position: relative;
  width: 40px;
}

.element-default .item-article-24 {
  height: 889px;
  left: 1471px;
  position: absolute;
  top: 6532px;
  width: 732px;
}

.element-default .picture-on-6 {
  background-image: url(../../../static/img/picture-on-performance-cap-black-unisex-unisex-fast-training.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-25 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 7452px;
  width: 732px;
}

.element-default .picture-on-speed {
  background-image: url(../../../static/img/picture-on-speed-pack-18l-lite-black-unisex-unisex-gym-comm.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-26 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 7452px;
  width: 732px;
}

.element-default .picture-on-waist {
  background-image: url(../../../static/img/picture-on-waist-pack-2l-lite-beige-unisex-unisex-lightweigh.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-27 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 7452px;
  width: 732px;
}

.element-default .picture-on-trail-2 {
  background-image: url(../../../static/img/picture-on-trail-sock-high-2p-black-unisex-unisex-hiking-ou.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-28 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 8395px;
  width: 732px;
}

.element-default .picture-on-fleece {
  background-image: url(../../../static/img/picture-on-fleece-mitten-black-unisex-unisex-all-day-wear-c.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-29 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 8395px;
  width: 732px;
}

.element-default .picture-on-merino-2 {
  background-image: url(../../../static/img/picture-on-merino-beanie-grey-unisex-unisex-all-day-wear-me.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-30 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 8395px;
  width: 732px;
}

.element-default .picture-on-track-2 {
  background-image: url(../../../static/img/picture-on-track-pack-mini-elite-beige-white-unisex-unisex-a.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-31 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 9337px;
  width: 732px;
}

.element-default .picture-on-cargo {
  background-image: url(../../../static/img/picture-on-cargo-pack-60l-black-unisex-unisex-travel-gym-l.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-32 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 9337px;
  width: 732px;
}

.element-default .picture-on-speed-2 {
  background-image: url(../../../static/img/picture-on-speed-pack-30l-beige-black-unisex-unisex-commutin.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-33 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 9337px;
  width: 732px;
}

.element-default .picture-on-elite-run-2 {
  background-image: url(../../../static/img/picture-on-elite-run-sock-low-black-unisex-unisex-racing-mo.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-34 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 10280px;
  width: 732px;
}

.element-default .picture-on-elite-run-3 {
  background-image: url(../../../static/img/picture-on-elite-run-sock-mid-yellow-unisex-unisex-racing-m.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-35 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 10280px;
  width: 732px;
}

.element-default .picture-on-court-cap {
  background-image: url(../../../static/img/picture-on-court-cap-white-unisex-unisex-tennis-lightweight.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-36 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 10280px;
  width: 732px;
}

.element-default .picture-on-liquid {
  background-image: url(../../../static/img/picture-on-liquid-logo-sock-high-2p-yellow-grey-unisex-unisex.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-37 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 11222px;
  width: 732px;
}

.element-default .picture-on-core-2 {
  background-image: url(../../../static/img/picture-on-core-beanie-beige-unisex-unisex-cold-weather-roa.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-38 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 11222px;
  width: 732px;
}

.element-default .picture-on-terry {
  background-image: url(../../../static/img/picture-on-terry-sock-high-blue-unisex-unisex-all-day-wear.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-39 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 11222px;
  width: 732px;
}

.element-default .picture-on-soft {
  background-image: url(../../../static/img/picture-on-soft-flask-500ml-translucent-black-unisex-unisex.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-40 {
  height: 889px;
  left: 0;
  position: absolute;
  top: 12165px;
  width: 732px;
}

.element-default .picture-on-track-3 {
  background-image: url(../../../static/img/picture-9fc9fdf41ae2bfd68788cebc2a8185edc88a2cb7-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-41 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 12165px;
  width: 732px;
}

.element-default .picture-on-speed-3 {
  background-image: url(../../../static/img/picture-on-speed-pack-24l-elite-black-unisex-unisex-gym-com.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-42 {
  height: 889px;
  left: 1471px;
  position: absolute;
  top: 12165px;
  width: 732px;
}

.element-default .picture-on-ultra-2 {
  background-image: url(../../../static/img/picture-on-ultra-vest-10l-black-unisex-unisex-ultrarunning.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-43 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 13085px;
  width: 732px;
}

.element-default .picture-on-ultra-3 {
  background-image: url(../../../static/img/picture-on-ultra-vest-5l-undyed-white-unisex-unisex-ultrarun.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-44 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 13085px;
  width: 732px;
}

.element-default .picture-on-winter-2 {
  background-image: url(../../../static/img/picture-on-winter-run-balaclava-beige-unisex-unisex-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-45 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 13085px;
  width: 732px;
}

.element-default .picture-on-ultra-cap {
  background-image: url(../../../static/img/picture-on-ultra-cap-black-unisex-unisex-trail-running-brea.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-46 {
  height: 911px;
  left: 0;
  position: absolute;
  top: 14028px;
  width: 732px;
}

.element-default .picture-on-sock {
  background-image: url(../../../static/img/picture-on-sock-pleasures-x-the-loop-blue-unisex-unisex-runn.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-47 {
  height: 911px;
  left: 736px;
  position: absolute;
  top: 14028px;
  width: 732px;
}

.element-default .picture-on-zero-cap {
  background-image: url(../../../static/img/picture-on-zero-cap-yellow-unisex-unisex-durable-lightweigh.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-48 {
  height: 911px;
  left: 1471px;
  position: absolute;
  top: 14028px;
  width: 732px;
}

.element-default .picture-on-merino-3 {
  background-image: url(../../../static/img/picture-on-merino-ultra-sock-red-unisex-unisex-trail-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-49 {
  height: 889px;
  left: 0;
  position: absolute;
  top: 14970px;
  width: 732px;
}

.element-default .picture-on-ultra-4 {
  background-image: url(../../../static/img/picture-on-ultra-belt-2l-undyed-unisex-unisex-trail-running.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .item-article-50 {
  height: 889px;
  left: 736px;
  position: absolute;
  top: 14970px;
  width: 732px;
}

.element-default .picture-on-shoe-pack {
  background-image: url(../../../static/img/picture-on-shoe-pack-black-unisex-unisex-lightweight-roll-t.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.66px;
  max-width: 731.66px;
  position: relative;
  width: 100%;
}

.element-default .section-you-may-be {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  margin-top: -1.4px;
  position: relative;
  width: 100%;
}

.element-default .heading {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 79.55px 0.68px;
  position: relative;
  width: 100%;
}

.element-default .text-wrapper-24 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 53px;
  font-weight: 700;
  letter-spacing: -0.53px;
  line-height: 58.3px;
  margin-top: -1.00px;
  position: relative;
}

.element-default .container-25 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  padding: 4px 79.55px 12px;
  position: relative;
  width: 100%;
}

.element-default .container-26 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  margin-right: -5188.91px;
  position: relative;
  width: 7399.82px;
}

.element-default .group-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px 0px 0px;
  position: relative;
  width: 739.99px;
}

.element-default .group {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 731.99px;
}

.element-default .article {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3.99px;
  position: relative;
  width: 100%;
}

.element-default .container-27 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  left: 684px;
  position: absolute;
  top: 8px;
  width: 40px;
  z-index: 2;
}

.element-default .container-wrapper-3 {
  align-self: stretch;
  background: radial-gradient(
    50% 50% at 53% 63%,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 247, 248, 1) 45%,
    rgba(236, 238, 240, 1) 100%
  );
  height: 731.99px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.element-default .picture {
  background-image: url(../../../static/img/picture-67b5137f5d78fd15a7eaee0d8ec140475e2fc8fd-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.99px;
  max-width: 731.99px;
  position: relative;
  width: 100%;
}

.element-default .div-6 {
  align-self: stretch;
  height: 125.9px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.element-default .container-28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  position: absolute;
  top: 93px;
  width: 716px;
}

.element-default .picture-2 {
  background-image: url(../../../static/img/picture-8d657d50649c22b8085ae799d94129cc0c807301-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.99px;
  max-width: 731.99px;
  position: relative;
  width: 100%;
}

.element-default .div-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3.5px;
  padding: 12px 4px 12px 12px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.element-default .picture-3 {
  background-image: url(../../../static/img/picture-4df18c1ec6e5b07553d1ff86e03ccf321885a847-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.99px;
  max-width: 731.99px;
  position: relative;
  width: 100%;
}

.element-default .button-save-track {
  height: 40px;
  position: relative;
  width: 40px;
}

.element-default .picture-4 {
  background-image: url(../../../static/img/picture-9fc9fdf41ae2bfd68788cebc2a8185edc88a2cb7-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 731.99px;
  max-width: 731.99px;
  position: relative;
  width: 100%;
}

.element-default .group-margin-2 {
  align-self: stretch;
  position: relative;
  width: 739.99px;
}

.element-default .group-margin-3 {
  align-self: stretch;
  margin-right: -0.08px;
  position: relative;
  width: 739.99px;
}

.element-default .margin-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -0.01px;
  padding: 16px 0px 7.99px;
  position: relative;
  width: 100%;
}

.element-default .container-29 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.element-default .component-27 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 47.99px;
  justify-content: center;
  max-width: 2210.94px;
  opacity: 0.25;
  padding: 1.25px;
  position: relative;
  width: 47.99px;
}

.element-default .button-next-slide {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 47.99px;
  max-width: 2234.94px;
  padding: 0px 24px 0px 0px;
  position: relative;
  width: 71.99px;
}

.element-default .component-28 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  height: 47.99px;
  justify-content: center;
  max-width: 2210.94px;
  padding: 1.25px;
  position: relative;
  width: 47.99px;
}

.element-default .horizontal-divider {
  background-color: #666666;
  height: 1px;
  position: relative;
  width: 303.98px;
}

.element-default .horizontal-divider-2 {
  background-color: #000000;
  height: 2px;
  position: relative;
  top: -1px;
  width: 91px;
}

.element-default .section-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  margin-top: -1.4px;
  padding: 41.4px 79.55px 40px;
  position: relative;
  width: 100%;
}

.element-default .text-wrapper-25 {
  align-self: stretch;
  color: #000000;
  font-family: var(--www-on-com-semantic-heading-1-font-family);
  font-size: var(--www-on-com-semantic-heading-1-font-size);
  font-style: var(--www-on-com-semantic-heading-1-font-style);
  font-weight: var(--www-on-com-semantic-heading-1-font-weight);
  letter-spacing: var(--www-on-com-semantic-heading-1-letter-spacing);
  line-height: var(--www-on-com-semantic-heading-1-line-height);
  margin-top: -1.00px;
  position: relative;
}

.element-default .text-wrapper-26 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 31.2px;
  margin-top: -1.00px;
  position: relative;
}

.element-default .footer {
  background-color: #ffffff;
  height: 695px;
  left: 0;
  position: absolute;
  top: 17652px;
  width: 2370px;
}

.element-default .section-our-mission-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 80px;
  padding: 0px 0px 39.13px;
  position: absolute;
  top: 64px;
  width: 2211px;
}

.element-default .container-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -1.24px;
  position: relative;
  width: 100%;
}

.element-default .link-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0.75px 0px;
  position: relative;
}

.element-default .text-wrapper-27 {
  color: #000000;
  font-family: var(--www-on-com-semantic-link-underline-font-family);
  font-size: var(--www-on-com-semantic-link-underline-font-size);
  font-style: var(--www-on-com-semantic-link-underline-font-style);
  font-weight: var(--www-on-com-semantic-link-underline-font-weight);
  letter-spacing: var(--www-on-com-semantic-link-underline-letter-spacing);
  line-height: var(--www-on-com-semantic-link-underline-line-height);
  margin-top: -1.00px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.element-default .section-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 80px;
  padding: 0px 0px 62.01px;
  position: absolute;
  top: 294px;
  width: 716px;
}

.element-default .container-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.99px;
  padding: 0px 0px 19.01px;
  position: relative;
  width: 100%;
}

.element-default .text-wrapper-28 {
  align-self: stretch;
  color: #000000;
  font-family: var(--www-on-com-on-regular-font-family);
  font-size: var(--www-on-com-on-regular-font-size);
  font-style: var(--www-on-com-on-regular-font-style);
  font-weight: var(--www-on-com-on-regular-font-weight);
  letter-spacing: var(--www-on-com-on-regular-letter-spacing);
  line-height: var(--www-on-com-on-regular-line-height);
  margin-top: -1.00px;
  position: relative;
}

.element-default .component-29 {
  align-items: center;
  background-color: #0000000d;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  height: 63.98px;
  max-width: 715.64px;
  padding: 29.98px 5.25px 14px 17.25px;
  position: relative;
  width: 100%;
}

.element-default .container-32 {
  align-self: stretch;
  height: 20px;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.element-default .container-32::-webkit-scrollbar {
  display: none;
  width: 0;
}

.element-default .label {
  height: 22px;
  left: 17px;
  position: absolute;
  top: 21px;
  width: 699px;
}

.element-default .text-wrapper-29 {
  color: #000000;
  font-family: var(--www-on-com-semantic-label-font-family);
  font-size: var(--www-on-com-semantic-label-font-size);
  font-style: var(--www-on-com-semantic-label-font-style);
  font-weight: var(--www-on-com-semantic-label-font-weight);
  height: 22px;
  left: 0;
  letter-spacing: var(--www-on-com-semantic-label-letter-spacing);
  line-height: var(--www-on-com-semantic-label-line-height);
  position: absolute;
  top: -2px;
  white-space: nowrap;
  width: 49px;
}

.element-default .list-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1201px;
  padding: 0px 0px 104.02px;
  position: absolute;
  top: 295px;
  width: 342px;
}

.element-default .list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15.99px;
  position: relative;
  width: 100%;
}

.element-default .item-link-help {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-default .margin-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.element-default .component-30 {
  align-items: flex-start;
  background-color: #0000001a;
  border-radius: 19.98px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 8px;
  position: relative;
}

.element-default .container-33 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -0.01px;
  position: relative;
}

.element-default .help-support {
  color: #000000;
  font-family: var(--www-on-com-semantic-link-font-family);
  font-size: var(--www-on-com-semantic-link-font-size);
  font-style: var(--www-on-com-semantic-link-font-style);
  font-weight: var(--www-on-com-semantic-link-font-weight);
  letter-spacing: var(--www-on-com-semantic-link-letter-spacing);
  line-height: var(--www-on-com-semantic-link-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .div-8 {
  align-items: center;
  display: inline-flex;
  height: 31.99px;
  position: relative;
}

.element-default .margin-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -3.99px;
  margin-top: -3.99px;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.element-default .text-wrapper-30 {
  color: #000000;
  font-family: var(--www-on-com-semantic-button-font-family);
  font-size: var(--www-on-com-semantic-button-font-size);
  font-style: var(--www-on-com-semantic-button-font-style);
  font-weight: var(--www-on-com-semantic-button-font-weight);
  letter-spacing: var(--www-on-com-semantic-button-letter-spacing);
  line-height: var(--www-on-com-semantic-button-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .nav-primary-footer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1575px;
  padding: 0px 0px 8.01px;
  position: absolute;
  top: 294px;
  width: 342px;
}

.element-default .div-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 7.2px;
  position: relative;
  width: 100%;
}

.element-default .item-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 0.75px;
  position: relative;
  width: 100%;
}

.element-default .text-8 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-default .nav-secondary-footer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1949px;
  padding: 0px 0px 40px;
  position: absolute;
  top: 294px;
  width: 342px;
}

.element-default .section-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 80px;
  position: absolute;
  top: 527px;
  width: 2211px;
}

.element-default .margin-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 16px;
  padding: 0px 12px 0px 0px;
  position: relative;
  width: 28px;
}

.element-default .flag-of-australia-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 16px;
  position: relative;
  width: 16px;
}

.element-default .flag-of-australia {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 16px;
  position: relative;
}

.element-default .component-31 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 16px;
}

.element-default .container-34 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-left: -0.01px;
  position: relative;
}

.element-default .text-wrapper-31 {
  color: #000000;
  font-family: var(--www-on-com-semantic-button-font-family);
  font-size: var(--www-on-com-semantic-button-font-size);
  font-style: var(--www-on-com-semantic-button-font-style);
  font-weight: var(--www-on-com-semantic-button-font-weight);
  letter-spacing: var(--www-on-com-semantic-button-letter-spacing);
  line-height: var(--www-on-com-semantic-button-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element-default .container-35 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 420px;
  justify-content: space-between;
  margin-top: -2.04e-12px;
  position: relative;
  width: 100%;
}

.element-default .container-36 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
}

.element-default .margin-6 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 39.25px 0px 8px;
  position: relative;
}

.element-default .container-37 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.element-default .nav-utility-footer {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 23.98px 0px 0.01px;
  position: relative;
}

.element-default .list-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
}

.element-default .item-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 15.25px 0px 8px;
  position: relative;
}

.element-default .item-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 24px 0px 0px;
  position: relative;
}

.element-default .container-38 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 31.99px 0px 0.04px;
  position: relative;
}

.element-default .item-4 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-default .component-wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.element-default .component-32 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 8px;
  position: relative;
}
