:root {
  --www-on-com-on-bold-font-family: "On", Helvetica;
  --www-on-com-on-bold-font-size: 53px;
  --www-on-com-on-bold-font-style: normal;
  --www-on-com-on-bold-font-weight: 700;
  --www-on-com-on-bold-letter-spacing: -0.5299999713897705px;
  --www-on-com-on-bold-line-height: 63.59000015258789px;
  --www-on-com-on-medium-font-family: "On", Helvetica;
  --www-on-com-on-medium-font-size: 16px;
  --www-on-com-on-medium-font-style: normal;
  --www-on-com-on-medium-font-weight: 500;
  --www-on-com-on-medium-letter-spacing: 0px;
  --www-on-com-on-medium-line-height: 20px;
  --www-on-com-on-regular-font-family: "On", Helvetica;
  --www-on-com-on-regular-font-size: 16px;
  --www-on-com-on-regular-font-style: normal;
  --www-on-com-on-regular-font-weight: 400;
  --www-on-com-on-regular-letter-spacing: 0px;
  --www-on-com-on-regular-line-height: 24px;
  --www-on-com-semantic-button-font-family: "On", Helvetica;
  --www-on-com-semantic-button-font-size: 16px;
  --www-on-com-semantic-button-font-style: normal;
  --www-on-com-semantic-button-font-weight: 400;
  --www-on-com-semantic-button-letter-spacing: 0px;
  --www-on-com-semantic-button-line-height: 16px;
  --www-on-com-semantic-heading-1-font-family: "On", Helvetica;
  --www-on-com-semantic-heading-1-font-size: 53px;
  --www-on-com-semantic-heading-1-font-style: normal;
  --www-on-com-semantic-heading-1-font-weight: 700;
  --www-on-com-semantic-heading-1-letter-spacing: -0.5299999713897705px;
  --www-on-com-semantic-heading-1-line-height: 58.290000915527344px;
  --www-on-com-semantic-heading-2-font-family: "On", Helvetica;
  --www-on-com-semantic-heading-2-font-size: 53px;
  --www-on-com-semantic-heading-2-font-style: normal;
  --www-on-com-semantic-heading-2-font-weight: 700;
  --www-on-com-semantic-heading-2-letter-spacing: -0.5299999713897705px;
  --www-on-com-semantic-heading-2-line-height: 58.290000915527344px;
  --www-on-com-semantic-heading-3-font-family: "On", Helvetica;
  --www-on-com-semantic-heading-3-font-size: 67.9000015258789px;
  --www-on-com-semantic-heading-3-font-style: normal;
  --www-on-com-semantic-heading-3-font-weight: 700;
  --www-on-com-semantic-heading-3-letter-spacing: -1.3580000400543213px;
  --www-on-com-semantic-heading-3-line-height: 74.69000244140625px;
  --www-on-com-semantic-heading-3-upper-font-family: "On Mono", Helvetica;
  --www-on-com-semantic-heading-3-upper-font-size: 20px;
  --www-on-com-semantic-heading-3-upper-font-style: normal;
  --www-on-com-semantic-heading-3-upper-font-weight: 400;
  --www-on-com-semantic-heading-3-upper-letter-spacing: 1.2000000476837158px;
  --www-on-com-semantic-heading-3-upper-line-height: 20px;
  --www-on-com-semantic-label-font-family: "On", Helvetica;
  --www-on-com-semantic-label-font-size: 16px;
  --www-on-com-semantic-label-font-style: normal;
  --www-on-com-semantic-label-font-weight: 400;
  --www-on-com-semantic-label-letter-spacing: 0px;
  --www-on-com-semantic-label-line-height: 22px;
  --www-on-com-semantic-link-font-family: "On", Helvetica;
  --www-on-com-semantic-link-font-size: 16px;
  --www-on-com-semantic-link-font-style: normal;
  --www-on-com-semantic-link-font-weight: 400;
  --www-on-com-semantic-link-letter-spacing: 0px;
  --www-on-com-semantic-link-line-height: 16px;
  --www-on-com-semantic-link-upper-font-family: "On Semi Mono", Helvetica;
  --www-on-com-semantic-link-upper-font-size: 12px;
  --www-on-com-semantic-link-upper-font-style: normal;
  --www-on-com-semantic-link-upper-font-weight: 400;
  --www-on-com-semantic-link-upper-letter-spacing: 0.7200000286102295px;
  --www-on-com-semantic-link-upper-line-height: 18px;
}
