.component-9 {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.component-9 .text-4 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.component-9 .text-4:hover {
  color: #4d4d4d;
}
