.element-light {
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.element-light .overlap-group {
  min-height: 100vh;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
}

.element-light .container-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-light .variant-1 {
  height: 64px !important;
  left: 48px !important;
  position: absolute !important;
  top: 12px !important;
  width: 64px !important;
}

.element-light .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  right: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 20px;
}

.element-light .container-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 90px;
  justify-content: center;
  padding: 0px 63.94px;
  position: relative;
}

.element-light .container-6 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 82px;
  justify-content: flex-end;
  position: relative;
}

.element-light .container-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-light .nav-navigation {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.element-light .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.element-light .nav-primary {
  align-items: center;
  display: inline-flex;
  left: 40px;
  position: absolute;
  top: 31px;
}

.element-light .item-margin {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.element-light .item-button-menu {
  color: #ffffff;
  font-family: "On-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .section-main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 95px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-light .section-article {
  align-items: flex-start;
  align-self: stretch;
  background-color: #999999;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-light .container-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 1200px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-light .div-wrapper-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.element-light .picture-fw {
  background-image: url(/static/img/picture-fw25-marathon-pr-product-still-cloudboom-max-03-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1200px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.element-light .container-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 930px;
  width: 100%;
}

.element-light .gradient-2 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.45) 53%,
    rgba(0, 0, 0, 0.65) 100%
  );
  height: 323px;
  left: 0;
  position: absolute;
  top: -53px;
  width: 100%;
}

.element-light .div-wrapper-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.element-light .section-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 63.94px;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.element-light .section {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16.5px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.element-light .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.element-light .text-wrapper-2 {
  color: #ffffff;
  font-family: var(--www-on-com-semantic-heading-1-font-family);
  font-size: var(--www-on-com-semantic-heading-1-font-size);
  font-style: var(--www-on-com-semantic-heading-1-font-style);
  font-weight: var(--www-on-com-semantic-heading-1-font-weight);
  letter-spacing: var(--www-on-com-semantic-heading-1-letter-spacing);
  line-height: var(--www-on-com-semantic-heading-1-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .p {
  color: #ffffff;
  font-family: "On-Regular", Helvetica;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 42.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .container-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  padding: 7.5px 0px 0px;
  position: relative;
  width: 100%;
}

.element-light .item-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px 16px 0px;
  position: relative;
}

.element-light .item {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.element-light .component-3 {
  border-color: unset !important;
  flex: 0 0 auto !important;
}

.element-light .component-instance {
  margin-left: unset !important;
  margin-right: unset !important;
}

.element-light .item-margin-2 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 16px;
  position: relative;
}

.element-light .section-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34.44px;
  position: relative;
  width: 100%;
}

.element-light .text-wrapper-3 {
  align-self: stretch;
  color: #000000;
  font-family: var(--www-on-com-semantic-heading-2-font-family);
  font-size: var(--www-on-com-semantic-heading-2-font-size);
  font-style: var(--www-on-com-semantic-heading-2-font-style);
  font-weight: var(--www-on-com-semantic-heading-2-font-weight);
  letter-spacing: var(--www-on-com-semantic-heading-2-letter-spacing);
  line-height: var(--www-on-com-semantic-heading-2-line-height);
  margin-top: -1.00px;
  position: relative;
}

.element-light .container-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.element-light .component-4-instance {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  height: unset !important;
  width: unset !important;
}

.element-light .design-component-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
  z-index: 0 !important;
}

.element-light .section-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  min-height: 686.33px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.element-light .container-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 492.36px;
}

.element-light .heading-margin {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 0px 32px;
  position: relative;
  width: 100%;
}

.element-light .activities {
  align-self: stretch;
  color: #000000;
  font-family: var(--www-on-com-semantic-heading-3-upper-font-family);
  font-size: var(--www-on-com-semantic-heading-3-upper-font-size);
  font-style: var(--www-on-com-semantic-heading-3-upper-font-style);
  font-weight: var(--www-on-com-semantic-heading-3-upper-font-weight);
  letter-spacing: var(--www-on-com-semantic-heading-3-upper-letter-spacing);
  line-height: var(--www-on-com-semantic-heading-3-upper-line-height);
  margin-top: -1.00px;
  position: relative;
}

.element-light .list {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.element-light .component-5-instance {
  flex: 0 0 auto !important;
  margin-right: -44.64px !important;
}

.element-light .component-2 {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}

.element-light .component-13 {
  flex: 0 0 auto !important;
  gap: 12.01px !important;
  margin-right: -163.65px !important;
}

.element-light .component-14 {
  flex: 0 0 auto !important;
}

.element-light .component-15 {
  flex: 0 0 auto !important;
  margin-right: -68.64px !important;
}

.element-light .component-16 {
  white-space: unset !important;
}

.element-light .component-17 {
  flex: 0 0 auto !important;
  margin-right: -42.64px !important;
}

.element-light .component-18 {
  flex: 0 0 auto !important;
  margin-right: -200.64px !important;
}

.element-light .img {
  align-self: stretch;
  max-width: 514px;
  object-fit: cover;
  position: relative;
  width: 514px;
}

.element-light .section-section-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  padding: 1px 20px 12px;
  position: relative;
  width: 100%;
}

.element-light .container-13 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  margin-right: -643.87px;
  position: relative;
  width: 2436px;
}

.element-light .group-margin {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px 0px 0px;
  position: relative;
}

.element-light .group {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px 0px;
  position: relative;
}

.element-light .group-margin-2 {
  align-self: stretch;
  position: relative;
  width: 348px;
}

.element-light .margin-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 16px 0px 8px;
  position: relative;
  width: 100%;
}

.element-light .container-14 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.element-light .component-7-instance {
  border-color: unset !important;
}

.element-light .button-next-slide {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 48px;
  max-width: 1816.16px;
  padding: 0px 24px 0px 0px;
  position: relative;
  width: 72px;
}

.element-light .horizontal-divider {
  background-color: #666666;
  height: 1px;
  position: relative;
  width: 304px;
}

.element-light .horizontal-divider-2 {
  background-color: #000000;
  height: 2px;
  position: relative;
  top: -1px;
  width: 225px;
}

.element-light .section-new-arrivals {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.element-light .container-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.27e-13px;
  overflow: hidden;
  padding: 4px 20px 12px;
  position: relative;
  width: 100%;
}

.element-light .container-16 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  margin-right: -4214.44px;
  position: relative;
  width: 6006.57px;
}

.element-light .group-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 8px 0px 0px;
  position: relative;
  width: 600.66px;
}

.element-light .article-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  width: 592.66px;
}

.element-light .article {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3.99px;
  position: relative;
  width: 100%;
}

.element-light .container-17 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  left: 545px;
  position: absolute;
  top: 8px;
  width: 40px;
  z-index: 2;
}

.element-light .container-wrapper-2 {
  align-self: stretch;
  background: radial-gradient(
    50% 50% at 53% 63%,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 247, 246, 1) 45%,
    rgba(236, 238, 240, 1) 100%
  );
  height: 592.66px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.element-light .container-18 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 593px;
}

.element-light .container-19 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.element-light .picture-2 {
  background-image: url(https://images.unsplash.com/photo-1564013799919-ab600027ffc6?w=800&q=80);
  background-position: 50% 50%;
  background-size: cover;
  height: 544.66px;
  max-width: 544.66px;
  position: relative;
  width: 100%;
}

.element-light .div-3 {
  align-self: stretch;
  height: 147.81px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.element-light .text-wrapper-4 {
  color: #995c00;
  font-family: var(--www-on-com-semantic-link-upper-font-family);
  font-size: var(--www-on-com-semantic-link-upper-font-size);
  font-style: var(--www-on-com-semantic-link-upper-font-style);
  font-weight: var(--www-on-com-semantic-link-upper-font-weight);
  height: 18px;
  left: 12px;
  letter-spacing: var(--www-on-com-semantic-link-upper-letter-spacing);
  line-height: var(--www-on-com-semantic-link-upper-line-height);
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 76px;
}

.element-light .container-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  padding: 0px 0px 0.91px;
  position: absolute;
  top: 33px;
  width: 577px;
}

.element-light .text-wrapper-5 {
  color: #000000;
  font-family: "On-Bold", Helvetica;
  font-size: 15.9px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .container-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  padding: 0px 0px 0.91px;
  position: absolute;
  top: 61px;
  width: 577px;
}

.element-light .text-wrapper-6 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 15.9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.9px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .container-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  position: absolute;
  top: 90px;
  width: 577px;
}

.element-light .text-wrapper-7 {
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .container-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 12px;
  position: absolute;
  top: 115px;
  width: 577px;
}

.element-light .container-24 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 593px;
}

.element-light .picture-3 {
  background-image: url(/static/img/picture-4b7e4d968e5cb1da2a6a9711aef1c555ce20e551-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 592.66px;
  max-width: 592.66px;
  position: relative;
  width: 100%;
}

.element-light .picture-4 {
  background-image: url(/static/img/picture-243daf0c00d1bf86603e7c18874dcbb7e0777a04-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 544.66px;
  max-width: 544.66px;
  position: relative;
  width: 100%;
}

.element-light .container-25 {
  height: 40px;
  position: relative;
  width: 40px;
}

.element-light .picture-5 {
  background-image: url(/static/img/picture-5a73496f3edd0ae0b8f604103abcfe169758d17c-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 544.66px;
  max-width: 544.66px;
  position: relative;
  width: 100%;
}

.element-light .new {
  color: #995c00;
  font-family: var(--www-on-com-semantic-link-upper-font-family);
  font-size: var(--www-on-com-semantic-link-upper-font-size);
  font-style: var(--www-on-com-semantic-link-upper-font-style);
  font-weight: var(--www-on-com-semantic-link-upper-font-weight);
  height: 18px;
  left: 12px;
  letter-spacing: var(--www-on-com-semantic-link-upper-letter-spacing);
  line-height: var(--www-on-com-semantic-link-upper-line-height);
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 27px;
}

.element-light .group-margin-3 {
  align-self: stretch;
  position: relative;
  width: 600.66px;
}

.element-light .group-margin-4 {
  align-self: stretch;
  margin-right: -0.03px;
  position: relative;
  width: 600.66px;
}

.element-light .horizontal-divider-3 {
  background-color: #000000;
  height: 2px;
  position: relative;
  top: -1px;
  width: 91px;
}

.element-light .section-section-3 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
  width: 100%;
}

.element-light .container-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 96px;
  position: relative;
  width: 100%;
}

.element-light .section-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 34.43px;
  position: relative;
  width: 100%;
}

.element-light .component-19 {
  align-self: stretch !important;
  height: unset !important;
  margin-left: -0.02px !important;
  width: 424.03px !important;
}

.element-light .component-20 {
  align-self: stretch !important;
  height: unset !important;
  width: 424.05px !important;
}

.element-light .component-21 {
  align-self: stretch !important;
  height: unset !important;
  width: 424.03px !important;
}

.element-light .component-22 {
  align-self: stretch !important;
  height: unset !important;
  margin-right: -0.02px !important;
  width: 424.05px !important;
}

.element-light .section-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  min-height: 630px;
  overflow: hidden;
  padding: 64px 20px;
  position: relative;
  width: 100%;
}

.element-light .container-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 824.39px;
}

.element-light .short-form-story {
  background-image: url(/static/img/short-form-story-billboard-campaign-1x1-1-1-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 618.28px;
  max-width: 824.39px;
  position: relative;
  width: 824.39px;
}

.element-light .container-28 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-top: -2.27e-13px;
  padding: 31px 0px 8.53e-14px;
  position: relative;
  width: 100%;
  max-width: 800px;
}

.element-light .section-5 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16.47px;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.element-light .text-wrapper-8 {
  align-self: stretch;
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}

.element-light .component-wrapper {
  align-self: stretch;
  height: 72px;
  margin-top: -7.11e-14px;
  position: relative;
  width: 100%;
}

.element-light .component-8-instance {
  border-color: unset !important;
  top: 24px !important;
}

.element-light .container-29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 572px;
  justify-content: center;
  left: 768px;
  position: absolute;
  top: 145px;
  width: 100%;
}

.element-light .container-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -0.22px;
  overflow: hidden;
  padding: 0px 20px 84px;
  position: relative;
  width: 100%;
}

.element-light .container-31 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  margin-right: -295.87px;
  position: relative;
  width: 2088px;
}

.element-light .div-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 480px;
  justify-content: flex-end;
  max-width: 340px;
  position: relative;
}

.element-light .container-32 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-height: 480px;
  max-width: 340px;
  position: relative;
  width: 100%;
}

.element-light .picture-short-form {
  background-image: url(/static/img/picture-short-form-story-card-campaign-4x5-2-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 480px;
  max-width: 340px;
  position: relative;
  width: 100%;
}

.element-light .gradient-3 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 240px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 240px;
  width: 340px;
}

.element-light .container-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  position: absolute;
  top: 428px;
  width: 308px;
}

.element-light .text-wrapper-9 {
  align-self: stretch;
  color: #ffffff;
  font-family: "On-Bold", Helvetica;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 31.2px;
  margin-top: -1.00px;
  position: relative;
}

.element-light .div-5 {
  background-image: url(/static/img/picture-industrial-engineer-drawing-on-light-box.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 480px;
  max-width: 340px;
  position: relative;
  width: 100%;
}

.element-light .container-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  position: absolute;
  top: 397px;
  width: 308px;
}

.element-light .picture-woman {
  background-image: url(/static/img/picture-woman-running-on-trail.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 480px;
  max-width: 340px;
  position: relative;
  width: 100%;
}

.element-light .container-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  position: absolute;
  top: 366px;
  width: 308px;
}

.element-light .footer {
  background-color: #ffffff;
  height: 464px;
  left: 0;
  position: absolute;
  top: 6765px;
  width: 100%;
}

.element-light .section-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 64px;
  padding: 0px 0px 23px;
  position: absolute;
  top: 64px;
  width: 576px;
}

.element-light .container-36 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 0px 0px 19px;
  position: relative;
  width: 100%;
}

.element-light .stay-in-the-loop {
  align-self: stretch;
  color: #000000;
  font-family: "On-Regular", Helvetica;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 39px;
  margin-top: -1.00px;
  position: relative;
}

.element-light .component-9-instance {
  border-color: unset !important;
  width: 100% !important;
}

.element-light .label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 17px;
  padding: 0px 12px 0px 0px;
  position: absolute;
  top: 21px;
  width: 559px;
}

.element-light .text-wrapper-10 {
  color: #000000;
  font-family: var(--www-on-com-semantic-label-font-family);
  font-size: var(--www-on-com-semantic-label-font-size);
  font-style: var(--www-on-com-semantic-label-font-style);
  font-weight: var(--www-on-com-semantic-label-font-weight);
  letter-spacing: var(--www-on-com-semantic-label-letter-spacing);
  line-height: var(--www-on-com-semantic-label-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .list-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 976px;
  padding: 0px 0px 104px;
  position: absolute;
  top: 64px;
  width: 272px;
}

.element-light .list-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.element-light .item-link-help {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.element-light .component-12-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.element-light .help-support {
  color: #000000;
  font-family: var(--www-on-com-semantic-link-font-family);
  font-size: var(--www-on-com-semantic-link-font-size);
  font-style: var(--www-on-com-semantic-link-font-style);
  font-weight: var(--www-on-com-semantic-link-font-weight);
  letter-spacing: var(--www-on-com-semantic-link-letter-spacing);
  line-height: var(--www-on-com-semantic-link-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .div-6 {
  align-items: center;
  display: inline-flex;
  height: 32px;
  position: relative;
}

.element-light .component-instance-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.element-light .text-wrapper-11 {
  color: #000000;
  font-family: var(--www-on-com-semantic-button-font-family);
  font-size: var(--www-on-com-semantic-button-font-size);
  font-style: var(--www-on-com-semantic-button-font-style);
  font-weight: var(--www-on-com-semantic-button-font-weight);
  letter-spacing: var(--www-on-com-semantic-button-letter-spacing);
  line-height: var(--www-on-com-semantic-button-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .nav-primary-footer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1280px;
  padding: 0px 0px 8px;
  position: absolute;
  top: 64px;
  width: 272px;
}

.element-light .div-7 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.element-light .nav-secondary-footer-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1584px;
  padding: 0px 0px 40px;
  position: absolute;
  top: 64px;
  width: 272px;
}

.element-light .section-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 64px;
  position: absolute;
  top: 296px;
  width: 1792px;
}

.element-light .margin-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 16px;
  padding: 0px 12px 0px 0px;
  position: relative;
  width: 28px;
}

.element-light .flag-of-australia-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  min-height: 16px;
  position: relative;
  width: 16px;
}

.element-light .flag-of-australia {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  max-width: 16px;
  position: relative;
}

.element-light .component-1-98 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.element-light .container-37 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-light .text-wrapper-12 {
  color: #000000;
  font-family: var(--www-on-com-semantic-button-font-family);
  font-size: var(--www-on-com-semantic-button-font-size);
  font-style: var(--www-on-com-semantic-button-font-style);
  font-weight: var(--www-on-com-semantic-button-font-weight);
  letter-spacing: var(--www-on-com-semantic-button-letter-spacing);
  line-height: var(--www-on-com-semantic-button-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.element-light .container-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 123.6px;
  justify-content: space-between;
  padding: 0px 2.27e-13px 0px 0px;
  position: relative;
  width: 100%;
}

.element-light .container-39 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
}

.element-light .margin-5 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px 8px;
  position: relative;
}

.element-light .container-40 {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 32px 0px 0px;
  position: relative;
}

.element-light .text-wrapper-13 {
  color: #000000;
  font-family: var(--www-on-com-on-regular-font-family);
  font-size: var(--www-on-com-on-regular-font-size);
  font-style: var(--www-on-com-on-regular-font-style);
  font-weight: var(--www-on-com-on-regular-font-weight);
  letter-spacing: var(--www-on-com-on-regular-letter-spacing);
  line-height: var(--www-on-com-on-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-light .nav-utility-footer {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 24px 0px 0px;
  position: relative;
}

.element-light .list-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px 0px;
  position: relative;
}

.element-light .item-margin-3 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0px 8px;
  position: relative;
}

.element-light .component-11-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 24px 0px 0px;
  position: relative;
}

.element-light .item-margin-4 {
  align-self: stretch;
  position: relative;
  width: 24px;
}

.element-light .container-41 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 32px 0px 0px;
  position: relative;
}

.element-light .list-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.element-light .item-2 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element-light .component-wrapper-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 16px 0px 0px;
  position: relative;
}
/* Full screen layout fixes applied */
